

// --------------------------------------------------------------------------
//   CONTAINER OBJECT
// --------------------------------------------------------------------------


@mixin container(
    $padded: true,
    $width: container-width(lg)
) {

    @if $padded {
        height: inherit;
        padding-left: $gutterSpace;
        padding-right: $gutterSpace;
        
        @include media-breakpoint-up(lg) {
            padding-left: $gutterSpace * 2;
            padding-right: $gutterSpace * 2;
        }
        
    } @else {
        max-width: $width + ($gutterSpace * 2);
        
        @include media-breakpoint-up(lg) {
            max-width: $width + ($gutterSpace * 4);
        }
    }
    
    @include clearfix();
    margin-left: auto;
    margin-right: auto;
    max-width: $width;
    position: relative;

    p,
    li,
    ol {
        &:last-child,
        &:last-child a {
            margin-bottom: 0;
        }
    }
}


.o-container {
    @include container();

    // sizes
    &--sm {
        @include container( $width: container-width(sm) );
    }

    &--rg {
        @include container( $width: container-width(rg) );
    }

    &--md {
        @include container( $width: container-width(md) );
    }

    &--xl {
        @include container( $width: container-width(xl) );
    }
    
    // insets
    
    &--tuck {
        
    }

    //&--super {
    //    //@include container( container-width(su) );
    //	max-width: 100%;
    //	padding: 0 space(1.5);
    //
    //    @include media-breakpoint-up(sm) {
    //        padding: 0 space(4);
    //    }
    //}

    //&--postInfo {
    //	@include container( $width: container-width(lg) );
    //	//padding: 0;
    //
    //	@include media-breakpoint-up(xs) {
    //		padding: 0 !important;
    //	}
    //
    //	@include media-breakpoint-up(xl) {
    //		// @include container( container-width(xl) );
    //		padding: 0 space(1.5);
    //	}
    //
    //	@include media-breakpoint-up(su) {
    //		@include container( $width: container-width(xl) );
    //	}
    //}
}




@mixin containerWindow() {
    padding: 21px space(1.5) 20px;
    //@include media-breakpoint-up(sm) { padding: space(1) space(1.5) space(0.75); }
}

.c-container--window {
    @include containerWindow();
}





.c-container-rule {
    @include container(false);
    border: 0;
    border-top: 1px solid palette(black-10);
    margin-top: 0;
    margin-bottom: space(0.75);
}

.o-column--post {
    max-width: container-width(xs);
    // @include when-inside(".o-container")     { margin-left: 0; }
    // @include when-inside(".o-container--xl") { margin-left: calc( (1200-960) / 2 ); }
}
