

// --------------------------------------------------------------------------
//   HEADLINE TYPOGRAPHY
// --------------------------------------------------------------------------


// Common theme…

@mixin headlineTemplate(
    $mixinSize: headline,
    $mixinColor: palette(text),
    $mixinFont: $font-text-bold,
    $mixinLetterSpacing: 0,
    $mixinLineHeight: 1.25,
    $mixinMarginBottom: 0
) {

    // standards
    color: $mixinColor;
    font-family: $mixinFont;
    letter-spacing: $mixinLetterSpacing;
    line-height: $mixinLineHeight;
    margin-bottom: $mixinMarginBottom;
    text-align: left;

    // sizes
    @include typeSize($mixinSize);

    // children
    > li,
    > li a,
    > a {
        border-bottom: 0;
        color: currentColor;
        font-family: inherit;
        font-size: inherit;
        margin: 0;
    }
}


// Component by size…

@mixin display() {
    @include headlineTemplate(
        $mixinLetterSpacing: -0.005em,
        $mixinLineHeight: 1.1,
        $mixinSize: headline--lg
    );
}

@mixin displayRg() {
    @include headlineTemplate(
        $mixinFont: $font-text-regular,
        $mixinLetterSpacing: -0.005em,
        $mixinLineHeight: 1.1,
        $mixinSize: headline
    );
}

@mixin headline() {
    @include headlineTemplate(
        $mixinSize: headline
    );
}

@mixin headlineMeta() {
    @include headlineTemplate(
        $mixinFont: $font-text-bold,
        $mixinSize: text--meta,
        $mixinColor: palette('black-50'),
        $mixinLetterSpacing: 0.1em
    );
    text-transform: uppercase;
}

@mixin headlineRule() {
    border-top: 1px solid palette("border");
    padding-top: space(0.25);
    margin-bottom: space(1);
}
    
@mixin headlineMetaRuled() {
    @include headlineMeta();
    @include headlineRule();
}

@mixin headlineXs() {
    @include headlineTemplate(
        $mixinFont: $font-text-bold,
        $mixinSize: headline--xs,
        $mixinColor: palette('black-50')
    );
}

@mixin headlineSm() {
    @include headlineTemplate(
        $mixinFont: $font-text-bold,
        $mixinSize: headline--sm
    );
}

@mixin headlineMd() {
    @include headlineTemplate(
        $mixinFont: $font-text-medium,
        $mixinSize: headline--md
    );
}

@mixin headlineMdLight() {
    @include headlineTemplate(
        $mixinFont: $font-text-light,
        $mixinSize: headline--md,
        $mixinLineHeight: 1.35
    );
}

@mixin headlineMdGrey() {
    @include headlineTemplate(
        $mixinFont: $font-text-regular,
        $mixinSize: headline--md
    );
    color: palette('black-40');
}

@mixin headlineMdBold() {
    @include headlineTemplate(
        $mixinFont: $font-text-bold,
        $mixinSize: headline--md
    );
}











//UNUSED SO FAR

//@mixin headlineSm() {
//    @include headlineTemplate(
//        $mixinSize: headline--sm,
//        $mixinLetterSpacing: 0.125em,
//    	$mixinLineHeight: 1.5
//    );
//    font-family: $font-text-medium;
//    text-transform: uppercase;
//}






// Component: headline
// --------------------------------------------------------------------------

.c-display           { @include display(); }
.c-headline          { @include headline(); }

.c-headline--md      { @include headlineMd(); }
.c-headline--mdLight { @include headlineMdLight(); }
.c-headline--mdBold  { @include headlineMdBold(); }
.c-headline--sm      { @include headlineSm(); }
.c-headline--meta    { @include headlineMeta(); }



.c-headline--inText {
    @include textRgBold();
    @include headlineRule();
}

.c-headline--inTextMeta {
    @include headlineMeta();
    padding-top: 11px;
    margin-bottom: space(1) + 5px;
}

.c-headline--inTextMetaRuled {
    @include headlineMetaRuled();
    padding-top: 11px;
    margin-bottom: space(1) + 5px;
}

.c-display--steps {
    @include display();
    //border: 1px solid currentColor;
    border-bottom: 1px solid rgba( palette(brand-aubergine), 0.4 );
    color: palette(brand-aubergine);
    font-family: $font-text-light;
    line-height: 150px;
    line-height: 80px;
    margin-bottom: space(1);
    //text-align: center;
    width: 100%;
}



// Vars
// --------------------------------------------------------------------------

.c-headline em {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
}

.c-headline--divider {
    @include headlineSm();
    text-align: center;
    
    span {
        background-color: palette(background);
        display: inline-block;
        font-family: inherit;
        padding: 0 space(0.5);
        position: relative;
        z-index: 2;
    }
    
    &:after {
        background-color: currentColor;
        content: "";
        display: block;
        height: 1px;
        position: relative;
        transform: translateY(-13px);
    }
}










// Component: headline blocks.
// --------------------------------------------------------------------------

// .Headline-block { > * { @include headline(); } }
